.tabcontent #student{
    display: none;
}
 .tabcontent .white{
    margin-left: 190px;
    padding-left: 300px;
    width: 750px;
    height: 490px;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
 }
 .tabcontent .blue{
    background-color: aquamarine;
    width: 290px;
    height: 490px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 3px blue;
    margin-top: -20px;
    margin-left: 180px;
 }
 .tabcontent .blue button{
    width: 290px;
    height: 50px;
    position: absolute;
    z-index: 2;
    margin-top: 150px;
    margin-left: 20px;
 }
#student #dsa{
    display: none;








    <!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="review2.css">
  <title>Hello, world!</title>
</head>

<body>
  <h1>Hello, world!</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></li>
            <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson5</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson6</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson7</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson8</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="img-area">
                      <img src="" alt=""></div>
                  </div>
                  <div class="img-text">
                    <h2>prson9</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ratione commodi cum explicabo accusantium earum delectus necessitatibus doloremque sequi ea.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>