 .box1 .grid {
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box1{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: palevioletred;
}
.box1 .grid .content{
    box-sizing: border-box;
    border: 2px solid black;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: gainsboro;
}
div .dot {
    cursor: pointer;
    height: 15px;
    color: black;
    width: 15px;
    margin: 0 2px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: blue;
}